body{
    background-color: grey;
}
.im{
    width: 100%;
    /* height: 400px; */
    background-size: cover;
    background-position: center;
}
.rene {
    height: 100%;
    width: 100%;
}
.card-pics{
    height: 200px;;
}
.nav-position-fixed{
  
}
.lasts{
    background-image: cover;
    margin-top: 50px;
    width: 400px;
    height: 685px;;
}
.icons{
    height: 400px;
}
.hover-state:hover{
    box-shadow: 5px 10px 8px 10px #aaa;
}
.icon{
    width: 150px;
    height: 150px;
    align-items: space-between;

}
.icon-icon{
    width: 150px;
    height: 80px;
}
/* @media screen and (max-width: 650px){
  .nav-link{
      font-size: 30px !important;
  }
  .dropdown-item{
    font-size: 100px !important;
  }
  .navbar-brand{
    font-size: 30px !important;
  }
  .btn {
    font-size: 100px !important;
  }
  p{
    font-size: 100px !important;

  }
  h2{
      font-size: 100px !important;
  }
  .tabl form{
    font-size: 150px !important;
  }
} */
@media screen and (min-width:600px) {
   
    .nav {
        font-size: 35px;
        color: red;
    
    }
    
}